@use 'variables' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	color: rgb(var(--primary));
	background-color: rgb(var(--background));
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

html,
body,
#__next {
	height: 100%;
}

a,
button {
	text-decoration: none;
	outline: none;
	border: none;
	color: inherit;
	font: inherit;
	display: inline-block;
	text-align: left;
	background: inherit;
	position: relative;
}

input,
textarea {
	-webkit-appearance: none;
	outline: none;
	border: none;
	background: none;
}

#nprogress {
	$color: rgb(var(--accent));
	.bar {
		background-color: $color !important;
	}
	.peg {
		box-shadow: 0 0 0.625rem $color, 0 0 0.3125rem $color !important;
	}
}
